<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=delete" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body>

    <header>
        <div>   </div>
        <h2 class="Welcome">Welcome <%= user.userName %> <%= user.displayName %></h2>
        <nav>
            <ul class="nav_links">
                <li><a href="/Logout" class="logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <h2><%= monthName %> <%= selectedYear %></h2>

    <table>
        <tr>
            <th>Day</th>
            <th>Person</th>
        </tr>
        <% createdPlan.forEach( el => { %>
        <tr class="<%= [0, 6].includes(new Date(selectedYear, selectedMonth - 1, el.day).getDay()) ? 'weekendDay' : '' %>">
            <td><%= el.day %></td>
            <td><%= el.personName %></td>
        </tr>
        <% }) %>
    </table>

    <script src="js/main.js"></script>
</body>
</html>
