<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=delete" />   
    <link rel="stylesheet" href="/css/style.css">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body>

    

    <header> 
        <div>   </div>
        <h2 class="Welcome">Welcome <%= user.userName %> <%= user.displayName %></h2>
        <nav>
            <ul class="nav_links">
                <li><a href="/Logout" class="logout">Logout</a></li>                
            </ul>
        </nav>
    </header>  
    


    <form action="/plan/addPerson" method='POST' class="personForm">
        <h2>Please enter Person's information</h2>
        <h5 class="daysError">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        </h5>
        <input type="text" id="personName" placeholder="Name" name='personName'> <input type="number" placeholder="Days of work" name='daysOfWork'> 
        <button name="addPerson" value="value" type="submit">Add Person</button>
    </form>

    <table>
        <% if (plan.length > 0) { %>
        <tr> 
            <th>Name</th>
            <% for (let i = 1; i <= 31; i++) { %>
            <td>
                <%= i %>
            </td>
            <% } %>
        </tr>
            <% } else { %>
                <td id="noPeople">No people added yet</td>
            <% } %>

        <script>
        document.addEventListener("DOMContentLoaded", () => {
            const checkboxes = document.querySelectorAll(".persist-checkbox");

            checkboxes.forEach(cb => {
                const personId = cb.dataset.person;
                const dayIndex = parseInt(cb.dataset.day);

        // Load existing data or create empty array
                let data = JSON.parse(localStorage.getItem("person-" + personId)) || Array(31).fill(false);

        // Set checkbox state
                cb.checked = data[dayIndex];

        // Save on change
                cb.addEventListener("change", () => {
                    let updatedData = JSON.parse(localStorage.getItem("person-" + personId)) || Array(31).fill(false);

                    updatedData[dayIndex] = cb.checked;

                    localStorage.setItem("person-" + personId, JSON.stringify(updatedData));
                });
            });
        });
        </script>

        <% plan.forEach( el => { %>
        <tr class="personPlan" data-id='<%=el._id%>'>
            <td class="myTd"><span id="del" class='del material-symbols-outlined'>delete</span><%= el.personName %></td>
            <% for (let i = 1; i <= 31; i++) { %>
            <td>
                <input type="checkbox" class="persist-checkbox" data-person="<%= el._id %>" data-day="<%= i %>" value ="<%= i %>">
            </td>
            <% } %>
        </tr> 
        <% }) %>    
    </table>

    
    
    <div>
        <button href="/plan/createdPlan" class="waves-effect waves-light btn-large">Create my plan</button>
    </div>





    <script src="js/main.js"></script>
</body>
</html>